body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.navbar {
    background-color: #0d6efd;
}

.sidebar {
    height: 100vh;
    background: #f8f9fa;
}

.card {
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
